body {
    background: #fff;
    color: #3c4151;
    font-family: 'Gotham Pro', Arial, serif;
  }
  
  .download {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .download a {
    color: #3c4151;
    text-decoration: none;
  }
  
  .download a:hover {
    color: #1d62b4;
  }
  
  #launch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 96px 0 64px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 0 64px;
    height: 44px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    background-color: #4a90e2;
  }
  
  #launch:focus,
  #launch:hover {
    background-color: #2171ce;
  }
  
  #launch:active {
    background-color: #1d62b4;
  }
  
  #raw_output {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 64px;
    margin: 32px 0;
    border: 1px solid #c1c6d1;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    background-color: #3c4151;
    color: #fff;
    height: 200px;
  }
  